<h1 class="hero__title">
    {{ site.author }}
    {% if site.subtitle %}
        <small class="hero__subtitle">{{ site.subtitle }}</small>
    {% endif %}
</h1>
<hr class="hero__divider">
<p class="hero__text lead">
    Welcome! I've carved out a niche for myself making Chrome extensions on <a href="http://www.upwork.com/o/profiles/users/_~015f21b2353e9841ac/">Upwork</a>, and I wanted to show it off to the world. You can also find code snippets from things I learn daily <a href="http://zaxcoding.com/blog/categories/today-i-learned/">(TIL)</a> and hopefully some open source contributions to help other freelancers.
</p>
